<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Index">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" />
				</rule>
			</rules>
		</rewrite>
        <handlers>
<!--             <remove name="PHP_via_FastCGI" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP53_via_FastCGI" />
            <remove name="php_v_7" /> -->
            <!-- <add name="php_v_7__" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.0\php-cgi.exe" resourceType="Either" requireAccess="Script" /> -->
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
